.passwordbox {
    outline: none;
    padding: 5px;
    position: relative;
}

.ant-input-suffix {
    position: absolute;
    top: 25%;
    right: 5%;
}

.ant-input {
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
}